.links-container-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30vh;
    font-family: 'Bebas Neue', cursive;
}

.nav-link-home {
    text-decoration: none !important;
    color: #4682B4 !important;
    font-size: 3rem !important;
    padding: 0 !important;
}

.lowertext {
    opacity: 30% !important;
    font-size: 200px !important;
    margin-top: 8rem !important;
    width: 100% !important;
    position:absolute !important;
    margin-left: 2rem !important;
    color: #4e4e50 !important;
    font-family: 'Bebas Neue', cursive !important;
   
}