.navigation-container{
    background-color: #4682B4;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    font-family: 'Bebas Neue', cursive;
    
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .nav-link{
        color:white;
        text-decoration: none;
        padding: 20px;
        font-size: 1.5rem;
    }
    .nav-link {
        transition: 0.7s ease;
    }
    
    .nav-link:hover {
        color: #4e4e50;
    }
}

#logo{
    color:white;
    text-decoration: none;
    padding-top: 37px;
    padding-left: 30px;
    font-size: 2rem;
}